In [46]:
import pandas as pd
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    port=33062,
    database = 'audiobookService',
    ssl_disabled=True #Secure Sockets Layer
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x1260d7b90>

In [2]:
# для того чтобы писать запросы к БД
cursor = connection.cursor()

# запрос. Вытащите всех авторов и их книги
query = """ 
     SELECT author_name, ab.title FROM Audiobook ab
     JOIN audiobookService.AuthorAudiobook aa ON aa.audiobook_id = ab.audiobook_id
     JOIN audiobookService.Author a ON a.author_id = aa.author_id 
"""

# выполнение запроса (но только для одной строки, поэтому нужен цикл )
cursor.execute(query)

result = []
for i, data in enumerate(cursor):
     result.append(data)

# не забудь закрыть соединение и курсор 
connection.close()
cursor.close()

True

In [4]:
df = pd.DataFrame(result)
df.columns = ['author', 'title']
df

              author                                              title
0        Пушкин А.С.                                             Онегин
1       Толстой Л.Н.                                        Война и мир
2       Толстой Л.Н.                                      Анна Каренина
3       Толстой Л.Н.                                            Детство
4       Толстой Л.Н.                                         Отрочество
5       Толстой Л.Н.                                             Юность
6   Достоевский Ф.М.                           Преступление и наказание
7   Достоевский Ф.М.                                              Идиот
8         Чехов А.П.                                       Вишневый сад
9        Гоголь Н.В.                                       Мертвые души
10     Тургенев И.С.                                        Отцы и дети
11    Лермонтов М.Ю.                               Герой нашего времени
12    Лермонтов М.Ю.                                       Смерть поэта
13     Булгаков М.А.                                 Мастер и Маргарита
14   Солженицын А.И.                         Один день Ивана Денисовича
15       Акунин Б.А.                                            Азазель
16        Dreiser T.                                          Финансист
17      Hemingway E.                                     Прощай, оружие
18         Austen J.                           Гордость и предубеждение
19           Hugo V.                         Собор Парижской Богоматери
20           Hugo V.                                     Les miserables
21           Hugo V.                                    L'Homme qui rit
22         Orwell G.                                               1984
23   Клышинский Э.С.  Автоматическая обработка текстов на естественн...
24   Большакова Е.И.  Автоматическая обработка текстов на естественн...
25     Воронцов К.В.  Автоматическая обработка текстов на естественн...
26     Ефремова Н.Э.  Автоматическая обработка текстов на естественн...
27    Лукашевич Н.В.  Автоматическая обработка текстов на естественн...
28        Сапин А.С.  Автоматическая обработка текстов на естественн...

In [ ]:
# для того чтобы писать запросы к БД
cursor = connection.cursor()

# запрос. Создайте таблицу подсчета всех пользователей
query = """ 
    CREATE TABLE audiobookService.users_amount (
        user_count INT NOT NULL
    );
"""

# выполнение запроса
cursor.execute(query)

# закрытие
connection.close()
cursor.close()

In [26]:
cursor = connection.cursor()

# запрос. Дроп таблицы
query = """ 
    DROP TABLE audiobookService.users_amount 
"""

# выполнение запроса
cursor.execute(query)

# закрытие
connection.close()
cursor.close()

True

In [40]:
cursor = connection.cursor()

# Подсчитайте кол-во всех юзеров и внесите данные в users_amount
query = """ 
    INSERT INTO audiobookService.users_amount (user_count)
    SELECT COUNT(*) FROM audiobookService.User;
"""

# выполнение запроса
cursor.execute(query)

# Подтверждение и закрытие 
connection.commit()
connection.close()
cursor.close()

True

In [44]:
# Проверка запроса

cursor = connection.cursor()

query = """ 
    SELECT * FROM audiobookService.users_amount
"""

cursor.execute(query)

usr_amt = []
for i, data in enumerate(cursor):
     usr_amt.append(data)

connection.close()
cursor.close()

True

In [45]:
usr_amt

[(22,)]